# Ignore large data folders
ev/
evals/
evals_par/
plots/
SFF/
temp/
evals_par_Lop/
psi0/
evals_goe/
evals_poi/
r/
r_avg/
sff/
sff_con/
slope/
evals_cnrgd/
evals_goe_wigner/
dspf/
ev/
evals/
evals_par/
plots/
SFF/
temp/
evals_par_Lop/
evals_GinOE/
evals_GinUE/
dsff/
spacings/
mask_cache/
local_density/
evals_Poi/
converged_eigvals/
mask_cache/
temp/
z/
z_avg/
dsff_filtered/
plots_dsff_filtered/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment folders
env/
venv/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE or editor settings
.vscode/
.idea/

# Ignore logs and databases
*.log
*.sqlite3

# Ignore compiled code
*.o
*.out

# Ignore specific sensitive files
config.yaml
.env

# Supercomputer 
.err_node_48
.out_node_48

# Images
# .png
.jpg
.jpeg